body{
  margin: 0;
}

.App{
  box-sizing: border-box;
  height: 100vh;
  /* text-align: center; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
}

.board {

  width: 245px;
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 0px;
gap: 0px;

}

.hide{
  display: none;
}

.show{
  display: block;
}

.score {
  width: 50%;
  margin: auto;
  padding: 5vh;
  display: flex;
  justify-content: space-between;

}

.xScore{

  text-align: center;
  width: 10vh;
  background-color: #43a7c1;
  padding: 2vh;
  color: white;
  border-radius: 6px;
}

.oScore {
  text-align: center;
  width: 10vh;
  background-color: #d55336;
  padding: 2vh;
  color: white;
  border-radius: 6px;

}

.resetBtn {
  background-color: white;
  cursor: pointer;
}




